<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다8고양</title>
    <link rel="stylesheet" href="/css/login.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>



  <body>
    <div class="login-image"></div>



    <div class="login-form">
    
      <h1 style="text-align: center;">
        <div class="col" style="width:200px; height:120px; background-image: url('/img/d9.png');background-repeat: no-repeat; margin-bottom: 20px; background-size: 200px 80px; display: inline-block;" onclick="location.href='/api'">
        </div>
      </h1>
      <form
        action="/login"
        id="login-form"
        method="post"
        onsubmit="return validateForm()"
      >
        <input type="email" id="email" name="email" placeholder="이메일을 입력해주세요" />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="비밀번호를 입력해주세요"
        />
        <input type="submit" value="로그인" />
      </form>
    
      <a href="/signup"><button class="signup">회원가입</button></a>  </div>
      <script>
        document.getElementById("login-form").addEventListener("submit", function(event) {
          event.preventDefault();
      
          // get the form data
          var formData = {
            email: document.getElementById("email").value,
            password: document.getElementById("password").value
          };
      
          // send the POST request using Axios
          axios.post('/login', formData)
            .then(function (response) {
              console.log(response);
              window.alert('로그인하셨습니다.');
              window.location = '/api';
            })
            .catch(function (error) {
              console.log(error.response);
              if (error.response.status === 400) {
                window.alert(error.response.data.message);
              }
   
              if (error.response.status === 401) {
                window.alert(error.response.data.message);
              }
   
            });
        });
      </script> </body>
      </html>