<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>다팔고양</title>

  <!--    BootStrap Library-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <!--    JQuery-->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <!--    JQuery Cookie-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<style></style>
<script src="https://js.tosspayments.com/v1/payment"></script>
<script src="js/toss.js"></script>

<script>

  const token = '<%- token %>';
  // 페이지네이션
  $(document).ready(function(){
    show_table();
    // show_cart();
  });
  // var page = 2;
  // var k = '';
  // $(window).scroll(function() {
  //   if ($(window).scrollTop() == $(document).height() - $(window).height()) {
  //     show_table(page);
  //     if(k!=undefined){
  //       alert('page가 변경됩니다.')
  //       page++;
  //     }
  //   }
  // });
  // 목록 받아오기 받아오면 뿌려줄때 갯수에 따라 페이지 네이션 되게함
  function show_table(){
    $.ajax({
      type: 'GET',
      url: '/product/list',
      data: {},
      success: function (res) {
        const products = res;
        for(let i=0; i<products.length; i++){
          const productId = products[i].id;
          const name = products[i].name;
          const price = products[i].price;
          const img1 = products[i].img1;
          const info = products[i].info;
          let temp = `<div class="col">
        <div class="card" style="width: 18rem;" onclick="location.href='/product/${productId}'">
          <img src="${img1}" class="card-img-top" alt="이미지가 왜 안보일까" style="height:300px;">
            <div>img</div>
            <div class="card-body">
            <p class="card-text">${name}</p>
            <p class="card-text">${info}</p>
            <p class="card-text">${price}</p>
          </div>
        </div>
      </div>

            `
          $('#products').append(temp);
        }
      }
    });
  }

  function show_cart(){
    $.ajax({
      type: 'GET',
      url: '/cart/list',
      data: {},
      success: function (res) {
        console.log(res);
        $('#cartCount').text(res.length+"건");
        for(let i = 0; i<res.length; i++){
          const img = res[i].img;
        }
      }
    });
  }
</script>

<style>
  body {overflow-x: hidden;}
  /* width */
  ::-webkit-scrollbar {
    display: none;
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #F1F1F1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>



<body>
<%- include('./topnav')%>
<div style="position: fixed; top: 300px; right: 150px; z-index: 9999;">
  <%- include('./cartnav')%>
</div>
<div class="container" style="margin-top: 20px;margin-bottom:20px ;text-align: center" >
</div>
<div class="container-fluid" style="padding: 0; "><!--image slide -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators" style="transform:translateY(10px);">
      <button type="button" style="height: 6px; width: 40px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" style="height: 6px;width: 40px; margin-left: 8px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" style="height: 6px;width: 40px; margin-left: 8px;" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://static.coupangcdn.com/ga/cmg_paperboy/image/1674723453370/pc_crop.jpg"style="height:400px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://static.coupangcdn.com/oa/cmg_paperboy/image/1675130524068/C1_PC1.jpg" style="height:400px"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://static.coupangcdn.com/fa/cmg_paperboy/image/1675236071995/230202_C1_%EB%B7%B0%ED%8B%B0-%EB%93%9C%EB%9F%AD%EC%8A%A4%ED%86%A0%EC%96%B4_SMD-25129_PC.jpg" style="height:400px"  class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 40px;text-align: center; height:300px;" >
  <h2 style="margin-bottom: 40px;">특 별 판 매 제 품</h2>
  <hr style="border: 1px solid black"/>
  <div class="row" style="align-items: center; margin-top:40px;"id = "products">

  </div>

</div><!--container end-->
</body>
</html>
