<div class="container" style="margin-top: 20px;text-align: center" >
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="text-align: right">
            <button type="button" class="btn btn-primary" style="margin-right:10px">로그인</button>
            <button type="button" class="btn btn-info">회원가입</button>
        </div>
    </div>
</div>