<div class="container" style="margin-top: 20px;text-align: center; height:50px; line-height: 50px;" >
    <div class="row">
<<<<<<< HEAD
        <div class="col" style="width:200px; height:120px; background-image: url('./img/d9.png');background-repeat: no-repeat; margin-bottom: 20px; background-size: 200px 80px;" onclick="location.replace('http://localhost:8080/api')">
=======
        <div class="col" style="width:200px; height:120px; background-image: url('/img/d9.png');background-repeat: no-repeat; margin-bottom: 20px; background-size: 200px 80px;" onclick="location.href='/api'">
>>>>>>> f48f6ccda3bf90770f67353ddbfef43ab3c6862b
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="text-align: right">
            <%if(!token){%>
            <button type="button" class="btn btn-primary" style="margin-right:10px" onclick="location.replace('/login')">로그인</button>
            <button type="button" class="btn btn-info" onclick="location.replace('/signup')">회원가입</button>
            <%}else if(token){%>
                <button type="button" class="btn btn-primary" style="margin-right:10px" onclick="location.replace('/me')">마이페이지</button>
                <button type="button" class="btn btn-info" onclick="location.replace('/logout')">로그아웃</button>
            <%}%>
        </div>
    </div>
</div>

